/* HOTSITE */
*{
    font-family: 'Roboto', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
/* pagina */
.pagina{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-image: url(../images/Background.jpg);
    background-size: 100%;
}

/* Topo */
.topo{
    display: flex;
    color: #474343;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
    

}

.login{
    font-size: 18px;
    
}
.botao-entrar{
    border: 1px rgb(140, 192, 207) solid;
    color: #474343;
    background-color: rgb(140, 192, 207);
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
}
.botao-entrar:hover{
    background-color: rgb(14, 185, 233);
    color: #000000;
    cursor: pointer;
}

/*  Slogan */
.slogan{
    display: flex;
    color: #474343;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    
}

.texto {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 205px;
    box-sizing: border-box;
}

.slogan h1 {
    font-size: 25px;
    margin-bottom: 90px;
    font-family: 'Playfair Display' ;
}

.slogan h3 {
    font-size: 18px;
    font-family: 'Playfair Display' ;
    
}

@media screen and (max-width: 549px){

    .pagina {
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .slogan h1 {
        font-size: 28px;
        padding: 20px;
    }
    .slogan{
        font-size: 18px;
        text-align: center;
    }
    .login.desktop {
        display: none;
    }
    .login.mobile{
        display: flex;
        flex-direction: column  ;

    }
    .topo.desktop{
        display: none;
    }
    .botao-entrar {
        margin: 10px;
    }
   
}
@media screen and (min-width: 550px){

    .pagina {
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .login{
        display: block;
    }
    .login.mobile{
        display: none;
    }
    .logo.mobile{
        display: none;
    }
}


@media screen and (min-width: 300px) and (max-width: 900px) { 
  .slogan {
      text-align: center;
  }
}

@media screen and ( min-width: 901px) and (-width: 950px){
    .login.desktop{
        font-size: 40px;
            
    }
    .topo.desktop{
        justify-content: center;
       
    }
    .slogan h1 {
        font-size: 60px;
        text-align: center;
    }
    .slogan h3 {
        font-size: 35px;
        text-align: center;
    } 
    .logo.desktop {
        display: none;
    }
   
}